# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/ .env

# Build
dist/
**/dist/

# Logs
*.log
**/*.log
error_log.txt

# Editor/System
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
